SUBSYSTEM=="misc", KERNEL=="uinput", TAG+="uaccess", OPTIONS+="static_node=uinput"

# alternative
#KERNEL=="uinput", MODE="0622", OPTIONS+="static_node=uinput"
